.skillsCard {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;
  transition: transform .2s ease;
  margin: 14px;
  &:hover {
    text-decoration: none;
    transform: scale(1.08);
  }
    .skillsImg {
      width: 80px;
      height: 80px;
    }

  .skillsTitle {
    font-weight: 550;
    margin-top: 0.25rem;
    text-align: center;
    font-size: 1rem;
    user-select: none;
  }
}