.cards {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid rgb(212, 217, 221);
  border-radius: 10px;
  overflow: hidden;
  margin: 30px;
  @media screen and (max-width: 840px) {
    width: 300px;
  }

  .imageContainer {
    width: 100%;
    position: relative;
    .image {
      width: 100%;
      height: 200px;
      opacity: 1;
      display: block;
      transition: .5s ease;
      backface-visibility: hidden;
      @media only screen and (max-width: 840px) {
        height: auto;
      }
      &:hover {
      opacity: 0.45;
      }
    }
    .overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      &:hover {
        cursor: pointer;
        opacity: 1;
        color: black;
        font-weight: 570;
        .cards.imageContainer.image {
          opacity: 0.45;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .overlay {
        opacity: 1;
        color: black;
        font-weight: 570;
      }
      .image {
        opacity: 0.45;
      }
    }
  }
  .contentContainer {
    padding: 0 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    .title {
      padding: 14px;
      font-size: 1.4rem;
      font-weight: 700;
    }
    .button {
      width: 100%;
      display: flex;
      justify-content: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  border-radius: 6px!important;
  background: rgb(88, 166, 218);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}