.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 5px 15px;
  min-height: 45px;
  background:linear-gradient(0deg,rgba(211, 7, 194, 0.527),rgba(11, 182, 224, 0.555)), url("/assets/background.jpg") rgba(1, 217, 255, 0.651);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 60% center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.5);
  &.margin {
    margin-bottom: 70px;
    position: inherit;
  }
  .drawer {
    &:hover {
      opacity: 0.7;
    }
  }
  .navbar-pages {
    width: 100%;
    margin-left: 10px;
    @media screen and (max-width: 840px) {
      display: none;
    }
    .navbar-item {
      height: 100%;
      margin: 18px;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: white;
      &:hover {
        color: rgb(180, 180, 180);
      }
    }
    .navbar-item-active {
      height: 100%;
      margin: 18px;
      text-decoration: none;
      color: white;
      padding-bottom: 17px;
      border-bottom: solid rgb(255, 255, 255) 4px;
      &:hover {
        color: rgb(180, 180, 180);
      }
    }
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1 1 auto;
    height: 45px;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: row-reverse;
    height: 45px;
    .logo {
      text-decoration: none;
      color: rgb(255, 255, 255);
      &:hover {
        color: rgb(180, 180, 180);
      }
    }
    .navbar-menu {
      cursor: pointer;
      margin-right: 15px;
      .linkedin {
        margin-right: 15px;
        color: white;
        &:hover {
          opacity: 0.75;
        }
      }
      .github {
        color: white;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

.navbar-brand {
  display: inline-block;
  margin-right: 16px;
  font-size: 1.5rem;
  .logo {
    text-decoration: none;
    color: rgb(255, 255, 255);
    &:hover {
      color: rgb(180, 180, 180);
    }
  }
}
  .drawer-pages {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    margin-bottom: 70px;
    .navbar-item {
      height: 100%;
      margin: 18px;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      color: #343a40;
      &:hover {
        color: rgb(134, 134, 134);
      }
    }
    .navbar-item-active {
      height: 100%;
      margin: 18px;
      text-decoration: none;
      color: rgb(134, 134, 134);
      &:hover {
        color: rgb(134, 134, 134);
      }
    }
    .drawer-items {
      display: flex;
      border-bottom: 1px solid #dfdfdf;
      justify-content: center;
      min-width: 150px;
    }
  }