.about-container {
  .about-content {
    display: flex;
    justify-content: center;
    margin: 30px;
    @media screen and (max-width: 840px) {
      display: block;
    }
    .left-content {
      padding-left: 50px;
      padding-right: 50px;
      .responsive {
        display: flex;
        justify-content: center;
      }
      .name {
        text-align: center;
        font-weight: 400;
        padding: 12px;
        font-size: 1.2rem;
      }
      .photo-container {
        width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        .photo {
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
      }
      button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        border-radius: 4px;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        &:hover {
          background: #43A047;
        }
      }
    }
    .right-content {
      p {
        max-width: 840px;
      }
      .title {
        text-align: center;
        margin-bottom: 40px;
        font-weight: 100;
        @media screen and (max-width: 840px) {
          margin-top: 40px;
        }
      }
    }
  }
  .separator-parent {
    margin: 30px;
    .separator {
      border-bottom: 1px solid #ccc;
    }
  }
  .skills {
    margin: 30px;
    display: flex;
    padding-bottom: 22px;
    @media screen and (max-width: 840px) {
      display: flex;
      flex-direction: column;
    }
    .mySkills {
      width: 100%;
      @media screen and (max-width: 840px) {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .subtitle {
        text-align: center;
        @media screen and (max-width: 840px) {
          text-align: center;
          width: 100%;
        }
      }
      .container {
        display: flex;
        justify-content: center;
        padding: 0;
        .skillsContainer {
          padding: 15px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 400px;
          @media screen and (max-width: 840px) {
            display: flex;
            justify-content: center;
            width: 100%
          }
        }
      }
    }
    .focusingSkills {
      width: 100%;
      .subtitle {
        text-align: center;
        @media screen and (max-width: 840px) {
          margin-top: 40px;
          text-align: center;
          width: 100%;
        }
      }
      .container {
        display: flex;
        justify-content: center;
        padding: 0;
        .skillsContainer {
          padding: 15px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          width: 400px;
          @media screen and (max-width: 840px) {
            display: flex;
            justify-content: center;
            width: 100%
          }
        }
      }
    }
  }
    footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: whitesmoke;
    p {
      text-align: center;
      margin: 0;
      padding: 10px;
    }
  }
}
